[Unit]
Description=WebLogic Admin Server service
Requires=adminnodemgr.service
After=adminnodemgr.service


[Service]
User=weblogicuser
Group=weblogicgroup
Type=forking
ExecStart=/opt/oracle/scripts/start-wls-server.sh admin
KillMode=control-group
TimeoutSec=0
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target