[Unit]
Description=WebLogic Admin Server service
Requires=adminnodemgr.service
After=adminnodemgr.service


[Service]
User=esbdev
Group=esbdev
Type=forking
ExecStart=/opt/oracle/scripts/start-wls-server.sh admin
KillMode=control-group
TimeoutSec=0
TimeoutStopSec=500

[Install]
WantedBy=multi-user.target