[Unit]
Description=WebLogic Admin Nodemanager service
Before=adminserver.service
Requires=wlsvip.service
After=wlsvip.service

[Service]
User=weblogicuser
Group=weblogicgroup
Type=forking
ExecStart=/opt/oracle/scripts/service_start_nmgr_adm.sh
KillMode=control-group
TimeoutSec=0
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target