[Unit]
Description=WebLogic OSB Server service
Requires=nodemgr.service adminserver.service
After=nodemgr.service adminserver.service


[Service]
User=weblogicuser
Group=weblogicgroup
Type=forking
ExecStart=/opt/oracle/scripts/start-wls-server.sh osb
KillMode=control-group
TimeoutSec=0
TimeoutStopSec=500

[Install]
WantedBy=multi-user.target